In [1]:
import nltk

In [3]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [4]:
sia = SentimentIntensityAnalyzer()

In [5]:
a = 'This is a good movie'

In [6]:
sia.polarity_scores(a)

{'neg': 0.0, 'neu': 0.508, 'pos': 0.492, 'compound': 0.4404}

In [7]:
b = 'This was the best, most awsome movie EVER MADE!!!'

In [8]:
sia.polarity_scores(b)

{'neg': 0.0, 'neu': 0.612, 'pos': 0.388, 'compound': 0.7249}

In [11]:
import pandas as pd
df = pd.read_csv('C:\\Users\\swasa\\Desktop\\TextFiles\\amazonreviews.tsv', sep = '\t')

In [13]:
df.head()

  label                                             review
0   pos  Stuning even for the non-gamer: This sound tra...
1   pos  The best soundtrack ever to anything.: I'm rea...
2   pos  Amazing!: This soundtrack is my favorite music...
3   pos  Excellent Soundtrack: I truly like this soundt...
4   pos  Remember, Pull Your Jaw Off The Floor After He...

In [14]:
df.isnull().sum()

label     0
review    0
dtype: int64

In [15]:
df.label.value_counts()

neg    5097
pos    4903
Name: label, dtype: int64

In [16]:
# checking the blank values
blanks = []
for i, ib, rv in df.itertuples():
    if type(rv) == str:
        if rv.isspace():
            blanks.append(i)

In [17]:
blanks

[]

In [18]:
df.iloc[0]['review']

'Stuning even for the non-gamer: This sound track was beautiful! It paints the senery in your mind so well I would recomend it even to people who hate vid. game music! I have played the game Chrono Cross but out of all of the games I have ever played it has the best music! It backs away from crude keyboarding and takes a fresher step with grate guitars and soulful orchestras. It would impress anyone who cares to listen! ^_^'

In [20]:
sia.polarity_scores(df.iloc[0]['review'])

{'neg': 0.088, 'neu': 0.669, 'pos': 0.243, 'compound': 0.9454}

In [21]:
df['scores'] = df['review'].apply(lambda review: sia.polarity_scores(review))

In [38]:
df.head()

,label,review,scores
0,pos,Stuning even for the non-gamer: This sound tra...,"{'neg': 0.088, 'neu': 0.669, 'pos': 0.243, 'co..."
1,pos,The best soundtrack ever to anything.: I'm rea...,"{'neg': 0.018, 'neu': 0.837, 'pos': 0.145, 'co..."
2,pos,Amazing!: This soundtrack is my favorite music...,"{'neg': 0.04, 'neu': 0.692, 'pos': 0.268, 'com..."
3,pos,Excellent Soundtrack: I truly like this soundt...,"{'neg': 0.09, 'neu': 0.615, 'pos': 0.295, 'com..."
4,pos,"Remember, Pull Your Jaw Off The Floor After He...","{'neg': 0.0, 'neu': 0.746, 'pos': 0.254, 'comp..."

In [42]:
df['scores'][0]['compound']

0.9454

In [71]:
values = []
for i in df['scores']:
    values.append(i['compound'])

df['compound'] = values
    
# another way
df['compound_values'] = df['scores'].apply (lambda d:d['compound'])

In [72]:
df.head()

,label,review,scores,compound,compound_values
0,pos,Stuning even for the non-gamer: This sound tra...,"{'neg': 0.088, 'neu': 0.669, 'pos': 0.243, 'co...",0.9454,0.9454
1,pos,The best soundtrack ever to anything.: I'm rea...,"{'neg': 0.018, 'neu': 0.837, 'pos': 0.145, 'co...",0.8957,0.8957
2,pos,Amazing!: This soundtrack is my favorite music...,"{'neg': 0.04, 'neu': 0.692, 'pos': 0.268, 'com...",0.9858,0.9858
3,pos,Excellent Soundtrack: I truly like this soundt...,"{'neg': 0.09, 'neu': 0.615, 'pos': 0.295, 'com...",0.9814,0.9814
4,pos,"Remember, Pull Your Jaw Off The Floor After He...","{'neg': 0.0, 'neu': 0.746, 'pos': 0.254, 'comp...",0.9781,0.9781

In [73]:
df['comp_score'] = df['compound_values'].apply(lambda score:'pos' if score > 0 else 'neg')

In [74]:
df.head()

,label,review,scores,compound,compound_values,comp_score
0,pos,Stuning even for the non-gamer: This sound tra...,"{'neg': 0.088, 'neu': 0.669, 'pos': 0.243, 'co...",0.9454,0.9454,pos
1,pos,The best soundtrack ever to anything.: I'm rea...,"{'neg': 0.018, 'neu': 0.837, 'pos': 0.145, 'co...",0.8957,0.8957,pos
2,pos,Amazing!: This soundtrack is my favorite music...,"{'neg': 0.04, 'neu': 0.692, 'pos': 0.268, 'com...",0.9858,0.9858,pos
3,pos,Excellent Soundtrack: I truly like this soundt...,"{'neg': 0.09, 'neu': 0.615, 'pos': 0.295, 'com...",0.9814,0.9814,pos
4,pos,"Remember, Pull Your Jaw Off The Floor After He...","{'neg': 0.0, 'neu': 0.746, 'pos': 0.254, 'comp...",0.9781,0.9781,pos

In [75]:
# to vies the -ve values
df.tail()

,label,review,scores,compound,compound_values,comp_score
9995,pos,A revelation of life in small town America in ...,"{'neg': 0.017, 'neu': 0.846, 'pos': 0.136, 'co...",0.9610,0.9610,pos
9996,pos,Great biography of a very interesting journali...,"{'neg': 0.0, 'neu': 0.868, 'pos': 0.132, 'comp...",0.9544,0.9544,pos
9997,neg,Interesting Subject; Poor Presentation: You'd ...,"{'neg': 0.096, 'neu': 0.768, 'pos': 0.137, 'co...",0.7074,0.7074,pos
9998,neg,Don't buy: The box looked used and it is obvio...,"{'neg': 0.091, 'neu': 0.909, 'pos': 0.0, 'comp...",-0.3595,-0.3595,neg
9999,pos,Beautiful Pen and Fast Delivery.: The pen was ...,"{'neg': 0.028, 'neu': 0.811, 'pos': 0.161, 'co...",0.9107,0.9107,pos

In [76]:
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(df['label'], df['comp_score']))

[[2709 2388]
 [ 490 4413]]

In [77]:
print(classification_report(df['label'], df['comp_score']))

              precision    recall  f1-score   support

         neg       0.85      0.53      0.65      5097
         pos       0.65      0.90      0.75      4903

    accuracy                           0.71     10000
   macro avg       0.75      0.72      0.70     10000
weighted avg       0.75      0.71      0.70     10000